.h1{
    font-family: Verdana;
}

/* .display{
    height: 30vh;
    display: flex;
    font-family: monospace;
    justify-content: center;
    align-items: center;
} */
/* #inputID{
    font-size: 1.5em;
    padding: 20px;
    border-radius: 10px;
} */


#keys{
    display: grid;
    grid-template-columns: repeat(4, 3em);
    gap: 10px;
    padding: 25px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
